/*/////////////////////////////////////////homepage//////////////////////////////////////*/
/*****************************************home********************************************/
#subnav {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -16px;
  width: 34px;
  height: 66px;
  cursor: pointer;
  z-index: 9998;
}

#home .title {
    font-size: 46px!important;
    line-height: 48px!important;
    text-align: center;
    text-shadow: -3px 3px 2px rgba(0, 174, 239, 0.2);
}
#home .container{
	padding-top:15%;
}
.container .title{
	font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-shadow: -3px 3px 2px rgba(0, 174, 239, 0.2);
}
.container {
	padding-top:20px;
}

h2#see-how {
    text-align:center;
}

a, a:visited {
    color: #001a23;
    outline: 0 none;
    text-decoration: none;
}

a#see-how:hover {
    background-position: center bottom;
}

#home {
    background: url("images/bg.jpg") no-repeat fixed center -170px #ffffff;
    height: 880px;
    text-align: center;
    width: 100%;
}

#home .wrap {
    position: relative;
    z-index: 9998;
}

.title {
    color: #001a23;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    line-height: 26px;
    padding: 0 0 10px;
}

#wrapper {
  float: left;
  width: 100%;
  margin-bottom: 50px;
  }
  
  
.slides {
  margin: 0 auto;
  }

.slides_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.slides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.slides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.slides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.slides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

  img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
	display:block;
}

.slide-content img{
	height: auto;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
.slide-details {
    float: right;
    padding: 40px 0 0 635px;
    width: 325px;
    z-index: 2;
	position:absolute;
	right:0;
	top:0;
	margin-right:5%;
}
.description {
    padding: 0 0 20px;
	font-size: 15px;
}

.btns a {
    margin-right: 14px;
}
a.blue-btn {
    background-color: #00aeef;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    float: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 19px;
    padding: 11px;
    text-decoration: none;
}
a.blue-btn:visited {
    color: #ffffff;
}
a.blue-btn:hover {
    background-color: #44c2fc;
    color: #002633;
    text-decoration: none;
}
#content::after {
    clear: both;
    content: "";
    display: table;
}
#Services {
    margin-bottom: 40px !important;
	margin-top:40px;
	background-color: transparent;
	line-height: 26px;
	margin-left:5%;
	margin-right:5%;
}
.columns {
    margin: 0 0 80px;
    overflow: hidden;
}
 
#Services article.col {
    background-color: transparent !important;
}
.columns-3 .col:nth-child(3n+1) {
    clear: both;
}
.columns-3 .col {
    width: 30.6666%;
}

/*
.col .heading {
    margin: 0 0 15px;
    overflow: hidden;
}
*/

.col{
    text-align:right;
}

h2 {
    text-align:right;
	color: #333333 !important;
	line-height: 27px !important;
	margin: 0 0 20px;
}
.columns .col {
    float: right;
    margin: 0 5% 0 0%;
    width: 28%;
}

.ourWork li h3 a {
    color: #5f5f5f;
    font-size: 20px;
    font-weight: 400;
}
.ourWork li h3 a:hover {
    color: #669933;
}

.ourWork {
    overflow: hidden;
    padding: 0 0 55px;
    text-align: center;
}
.ourWork .container {
    max-width: 1200px;
    width: auto;
}
.ourWork h2 {
    padding: 55px 0;
}
.ourWork ul {
    margin-bottom: 30px;
}
.ourWork li {
    display: inline-block;
    margin: 0 11px;
    width: 300px;
}
.ourWork li h3 {
    color: #5f5f5f;
    font-size: 20px;
    font-weight: normal;
}
.ourWork li a {
    display: block;
}
.ourWork li .portfolio {
    height: 191px;
    position: relative;
    width: 260px;
}
.ourWork li .portfolio .mask {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.ourWork li a:hover .mask {
    opacity: 1;
}
.ourWork li .portfolio .mask::after {

    background-image: url("../images/icon-plus.png");
    background-position: 50% center;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: "";
    height: 62px;
    left: 50%;
    margin: -31px 0 0 -31px;
    position: absolute;
    top: 50%;
    width: 62px;
}
.ourWork li .portfolio > img, .ourWork li .portfolio a:hover > img {
    transition: all 300ms linear 0s;
}
.ourWork li:hover .portfolio > img {
    transform: scale(1.2) rotate(0deg) translate(0px);
}


.container {
    margin: 0 auto;
    width:100%;
}

.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}

a {
    text-decoration: none;
    transition: all 300ms linear 0s;
}

img, object, embed, video {
    max-width: 100%;
}
img {
    border: 0 none;
    vertical-align: middle;
}


@media only screen and (width: 1024px) {
	.container {
		margin: 0 20px;
	}
	.ourWork li {
		width: 220px;
	}
	.ourWork li .portfolio {
		height: auto;
		width: 220px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.container {
		margin: 0 20px;
	}
}



@media only screen and (max-width: 800px)  {
	.columns .col {
		box-sizing: border-box;
		float: none;
		margin: 0 0 20px;
		width: 100% !important;
	}
}

@media screen and (max-width: 700px) {
	#home {
		background-attachment: scroll;
	}

}

@media screen and (max-width: 650px) {
	a#see-how {
		background-image: url("images/see_how_mobile.png");
		height: 67px;
		width: 67px;
	}
}

/*************************************team-member************************************************/
.left-arrow {
  left: 0;
  color: #52b6ec;
  position: absolute;
  top: 30%;
  font-size: 65px;
}



.right-arrow {
  color: #52b6ec !important;
  right: 0;
  position: absolute;
  top: 30%;
  font-size: 65px;
}

@media (max-width: 768px){
.one-third {
  display: block;
  float: none;
  width: 100%;
  margin-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}
}
@media (min-width: 1200px){
.one-third {
  width: 31%;
  display:inline-block;
}
}

.col-container {
  display: inline-block;
  height: auto;
  max-width: 80%;
  padding:0 30px 30px 0;
}

#team-members .item {
  text-align: center;
}

.img-circle {
  width:200px;
  height:200px;
  border: 1px solid #ddd;
  padding: 4px;
}

.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

.members {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}

.icon-angle-left, .icon-angle-right{
font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}
.icon-angle-left:before {
  content: "\f104";
}

.icon-angle-right:before {
  content: "\f105";
}

.members>.active {
  right: 0;
}
.members>.active, .members>.next, .members>.prev {
  display: block !important;
}

.members>.item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out right;
  -moz-transition: .6s ease-in-out right;
  -o-transition: .6s ease-in-out right;
  transition: .6s ease-in-out right;
}
/********************features*****************************/
@media (max-width: 768px){
.one-second {
  display: block;
  float: none;
  width: 100%;
  margin-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}
}
@media (min-width: 1200px){
.one-second {
  width: 45%;
  display:inline-block;
}
}

.feature-description{
top:0;
max-height:100%;
position:absolute;
padding:20px 20px 0 0;
}
/****************************************************************************************************************************/
html, body {
    /*color: #625E5E;*/
    font-family: tahoma;
	direction: rtl;
	font-size: 14px;
}

.clr{
	clear:both;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary, div {
  display: block;
}

p {
  text-align: justify;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

p, ol, ul, dl, address {
  margin-bottom: 0.9em;
  line-height: 1.8;
  font-size: 18px;
}

/*/////////////////////////////////////////header//////////////////////////////////////*/
#header {
    padding: 20px 0px 0px;
    display: block;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 9999;
    transition: all 0.3s linear 0s;
}

#header .header {
    margin-bottom: 15px;
}

.row {
    width: 100%;
    margin: 0px auto;
    max-width: 93%;
    max-height: 300px;
    position: relative;
}

#header .header #main-nav {
    background: none repeat scroll 0% 0% #39844B;
    height: 100%;
    padding: 0px;
    opacity: 0;
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 99999;
    float: none;
    margin: 0px;
}

#header .header #main-nav {
    float: right;
    height: 36px;
}

#main-nav {
    margin-right: 100px;
}

#header .header #main-nav #menu-main {
    display: table-cell;
    vertical-align: middle;
}

#header .header #main-nav ul {
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
}

@media only screen and (max-width: 1024px)
#header .header #nav #menu-main li {
  float: none;
  width: 100%;
  text-align: center;
}

#header .header #main-nav ul li {
    display: inline-block;
    float: right;
    position: relative;
}

#navbar-toggle {
	border-color: #DDD;
    float: left;
    margin-left: 15px;
	position: relative;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

media="screen, print"
@media (min-width: 768px)
#navbar-toggle {
  display: none;
}

@media only screen and (max-width: 1024px)
#header .header #navbar-toggle {
  display: block;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

#main-nav, #navbar-toggle-close {
  display: none;
}

@media only screen and (max-width: 1024px)
#header .header #main-nav #navbar-toggle-close {
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 35px;
}

#header .header #logo {
  background: url() no-repeat;
  width: 160px;
  height: 30px;
  float: right;
}

.btn {
  font-weight: bold;  
  font-size: 1.2em;
  font-weight: bold;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  border-radius: 4px;
  text-align:center;
  padding: 6px 12px;
  position:relative;
  text-decoration: none;
}

.red-btn {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

#login-btn{
  float:left;
}

#header .header .red-btn{
  float:left;
}

#search-btn{
  float:left;
}

.csstransforms .changelogo .search-bar-wide.reveal {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.csstransforms .search-bar-wide.reveal {
  top: 0;
  -webkit-transform: translateY(-2.6em);
  -moz-transform: translateY(-2.6em);
  -ms-transform: translateY(-2.6em);
  -o-transform: translateY(-2.6em);
  transform: translateY(-2.6em);
}

.csstransforms .search-bar-wide {
  top: 0;
  -webkit-transform: translateY(-10em);
  -moz-transform: translateY(-10em);
  -ms-transform: translateY(-10em);
  -o-transform: translateY(-10em);
  transform: translateY(-10em);
}

.search-bar-wide.reveal {
  /* -webkit-box-shadow: 0 0 0 2000px rgba(255,255,255,0.9); */
  -moz-box-shadow: 0 0 0 2000px rgba(255,255,255,0.9);
  /* box-shadow: 0 0 0 2000px rgba(255,255,255,0.9); */
}

.search-bar-wide {
  background: #000;
  position: absolute;
  z-index: 1000000;
  width: 94%;
  padding: 2em 3%;
  -webkit-transition: -webkit-transform 0.4s,top 0.4s;
  -moz-transition: -moz-transform 0.4s,top 0.4s;
  -o-transition: -o-transform 0.4s,top 0.4s;
  transition: transform 0.4s,top 0.4s;
}

@media only screen and (max-width: 640px)
.search-bar-wide form {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}

.search-bar-wide form {
  max-width: 40%;
  margin: 0 auto;
  position: relative;
}

#search-close {
  line-height: 1;
  font-size: 1.3em;
  color: #858585;
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  left: 2em;
}

.icon-x:before {
  content: "\e028";
}

.search-bar-wide form #search-input {
  font-size: 1.1em;
  float: right;
  width: 100%;
  height: 45px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
}

input, textarea, select {
  display: inline-block;
  /*width: 100%;*/
  padding: 6px;
  margin-bottom: 0.45;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  color: #222;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

input, button, select, textarea {
  font-family: ch-nassim,tahoma,Arial,sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.search-bar-wide form #search-submit {
  position: absolute;
  top: 0;
  left: 0;
  height: 45px;
  padding: 8px 15px;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer;
}
/*/////////////////////////////////////////footer//////////////////////////////////////*/
#footer {
  overflow: hidden;
}

#footer {
  background: #fff;
  width: 100%;
  float: left;
  padding: 60px 0 40px;
}

@media only screen and (max-width: 640px)
#footer {
  padding: 40px 0;
}

#footer .footer-connect #footer-logo {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 34px;
  margin-bottom: 20px;
  text-align: center;
}

#footer .footer-connect{
  width: 100%;
  text-align: center;
  font: 18px/28px ralewaymedium;
  color: #737373;
  margin-bottom: 30px;
}

@media screen and (max-width: 640px)
#footer #footer-nav {
  display: none;
}

.sep {
  width: 60%;
  margin: 0 auto;
  background: #ccc;
  height: 1px;
  clear: both;
}

#footer #footer-nav ul {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  list-style: none;
}

#footer #footer-nav ul li {
  display: inline-block;
  zoom: 1;
  position: relative;
}

#footer ul.social.footer {
  width: 100%;
  text-align: center;
  margin: 0 0 30px;
  padding: 0;
}
/*/////////////////////////////////////////login//////////////////////////////////////*/
.ask {
    color: #427FED;
    font-size: 10px;
    float: left;
    cursor: pointer;
    margin-left: 3px;
}

.userbox {
    width: 328px;
    margin: 0px auto;
   
}

.text-center{
	text-align: center;
}

.title {
    font-size: 12px;
}
.control-label {
    text-align: right;
}

.ltr {
    direction: ltr;
    unicode-bidi: bidi-override;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.checkbox {
    min-height: 27px;
	text-align:right;
}

body, table, div, input, select, textarea, label, td, tr, th {
    font-family: "web_Yekan","B Koodak","X Koodak","Koodak",Arial;
    /%color: #3C3C3C;%/
    direction: rtl;
}

lable{
	display:inline;
}

.form-element {
  margin-bottom: 15px;
}

.userbox .footer .rememberme label {
    position: relative;
    top: -3px;
}

.userbox .footer {
    height: 82px;
	margin-top:20px;
}

.margin-btn{
	margin-bottom:10px;
	margin-top:10px;
}
/*/////////////////////////////////////////search//////////////////////////////////////*/
.search-content{
	  overflow: hidden;
}

/*.active {
  color: #fff;
  background-color:#CABBBB;
}*/
.pag-next-link {
  float:right;
  height: auto;
  width: auto;
  font-size: 14px;
  color: #009ddc;
  background: none;
  text-transform: uppercase;
}

.paginationControl{
	margin-top:20px;
	text-align:center;
}

/*
.inner {
  max-width: 76.125em;
  padding: 0 3%;
  margin-right: auto;
  margin-left: auto;
}
*/

article.post {
  /*margin: 2em 0;*/
  margin: 20px 0;
}

figure {
  /*margin-bottom: 1.8em;*/
  margin-bottom: 18px;
}

.news-image {
  width:25%;/* 31.12582781456954%;*/
  float: right;
}

.news-article {
  width:60%;/* 65.56291390728477%;*/
  float: right;
}

figure img {
  margin-bottom: 0;
  display: block;
}

figure {
  margin-bottom: 1.8em;
  margin: 0;
}

figure {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}

 img {
  max-width: 100%;
  height: auto !important;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 640px)
.search-bar form {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}

.search-bar{
  text-align:center;
  background: #000;
  width: 100%;
  padding-top: 2em;
  padding-bottom:5em;
  padding-left:3%;
  padding-right:3%;
}

@media only screen and (max-width: 640px)
.search-bar- form {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}

.search-bar form {
  max-width: 40%;
  margin: 0 auto;
  position: relative;
}
.search-bar form #search-input {
  font-size: 1.1em;
  float: right;
  width: 100%;
  height: 45px;
  border: none;
}
.search-bar form #search-submit {
  position: absolute;
  top: 0;
  left: 0;
  height: 45px;
  padding: 8px 15px;
}

